/**
  KifuViewer.css
  designed by hinacoppy 2018 -- 2021
*/

html{
  height: 100%;
}

body{
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
}

.container{
  background: #efe;
  display: grid; /* Grid Layout でコンテンツを配置 */
  grid-template-columns: auto auto;
  grid-template-rows: max-content auto auto 3em;
  grid-template-areas:
     'header nav'
     'board  nav'
     'aside  aside'
     'footer footer';
}

.header{
  grid-area: header;
  text-align: center;
}

.footer{
  grid-area: footer;
  background: #eee;
  background-image: linear-gradient(#fff 0%, #eee 50%, #ddd 51%, #fff 100%);
  height: 3em;
  text-align: right;
}

.mainarea{
  grid-area: board;
  margin: 1vh auto; /* 上寄せ、左右中央配置 */
}

.mainareaflex{
  display: flex;
  flex-direction: column; /* toggle column, column-reverse */
}

.nav{
  grid-area: nav;
  padding-left: 1vw;
}

.aside{
  grid-area: aside;
}

/* Constant definision for bgBoard.css ------------------------------ */
:root{
  --boardHeightNum: 70;
  --boardWidthNum: 45;
  --pointWidthNum: 3;
  --cubeSizeNum: 2.7;
  --frameSizeNum: 1.3;
  --offtrayMarginNum: 5;
  --offtrayHeightNum: 70; /* bgBoardApp=49, other=boardHeightNum */
  --cubeFontSizeNum: 2;
  --labelFontSizeNum: 0.8;
  --stackFontSizeNum: 1.5;
}


.pagetitle{
  font-weight: bold;
  font-size: 120%;
  padding-top: 0.5vh;
  margin-bottom: 1vh;
}

.playername{
  font-weight: bold;
  text-align: left;
  float: left; /* pipを右寄せ */
}

.pip{
  text-align: right;
}

.infodisp{
  font-weight: bold;
  margin-bottom: 1vh;
}

.analysisresult{
  font-weight: normal;
}

.navbutton{
  width: 6vw;
  height: 6vh;
}

.normalbutton{
}

.jumpselect{
}

.dropzone{
  border: 2px dotted #18a;
  width: 90%;
  height: 50px;
  line-height: 50px;
  color: #9ab;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 10px;
  /*font-size: 120%;*/
}
